<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>G.E.T. - Gerenciador de Escalação de Times</title>
    <link href="../css/estilo.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap-4.3.1/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body onload="listJogadores()">
    <header>
        <div id="logo"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="medico.html">Situação médica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cartoes.html">Cartões</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="estatisticas.html">Estatísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Escalação</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="jogadores.html">Jogadores</a>
                        <a class="dropdown-item" href="time.html">Time</a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
    </header>
    <div class="conteudo" style="padding-top: 30px;">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <table class="table" style="border:1px solid red">
                    <tr>
                        <th>Jogador</th>
                        <th>Posição</th>
                    </tr>
                    <tr>
                        <td>Marcos</td>
                        <td>Goleiro</td>
                    </tr>
                    <tr>
                        <td>Cafú</td>
                        <td>Lateral-direito</td>
                    </tr>
                    <tr>
                        <td>Lúcio</td>
                        <td>Zagueiro</td>
                    </tr>
                    <tr>
                        <td>Roque Júnior</td>
                        <td>Zagueiro</td>
                    </tr>
                    <tr>
                        <td>Edmílson</td>
                        <td>Volante e Zagueiro</td>
                    </tr>
                    <tr>
                        <td>Roberto Carlos</td>
                        <td>Lateral-esquerdo</td>
                    </tr>
                </table>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8">
                <form action="">
                    <div class="form-group row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <label for="nome">Nome do jogador</label><br>
                            <input name="nome" type="text" id="nome" class="form-control" /><br>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <label for="cartoesVermelhos">Cartões Vermelhos</label><br>
                            <input name="cartoesVermelhos" type="text" id="cartoesVermelhos" class="form-control" /><br>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <label for="cartoesAmarelos">Cartões Amarelos</label><br>
                            <input name="cartoesAmarelos" type="text" id="cartoesAmarelos" class="form-control" /><br>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <label for="cartoesAmarelos">Situação do jogador</label><br>
                            <input name="cartoesAmarelos" type="text" id="cartoesAmarelos" class="form-control" /><br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer></footer>
    <script src='../js/jquery.js' type='text/javascript'></script>
    <script src="../bootstrap-4.3.1/js/bootstrap.js" type='text/javascript'></script>
    <script src="../js/ajaxRequest.js" type='text/javascript'></script>
</body>

</html>