<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <title>G.E.T. - Gerenciador de Escalação de Times</title>
    <link href="../css/estilo.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div id="logo"></div>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="medico.html">Situação médica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cartoes.html">Cartões</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="estatisticas.html">Estatísticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Escalação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Jogadores</a>
            </li>
        </ul>
    </header>
    <div class="conteudo">

    </div>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
</body>

</html>