/*REGRAS GERAIS DAS PÃGINAS*/

.conteudo {
    background-color: lightslategray;
    padding: 15px;
    min-height: 600px;
}

#logo {
    min-height: 150px;
}

header > ul {
    padding: 15px 0;
    background-color: black;
}

a.nav-link, div.dropdown-menu {
    margin-left: 135px;
}

/* REGRA DA TELA DE GERENCIAMENTO DE TIME */

#nomeDoTime {
    text-align: center; 
    margin: 0 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: default;
}