/*REGRAS GERAIS DAS PÃGINAS*/

.conteudo {
    background-color: lightslategray;
    padding: 15px;
    min-height: 600px;
}

#logo {
    min-height: 150px;
}

header > ul {
    padding: 15px 0;
    background-color: black;
}

a.nav-link, div.dropdown-menu {
    margin-left: 135px;
}

